body {
  align-content: center;
  background-color: beige;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: brown;
  margin-top: 0;
  padding: 10px;
  font-size: 30px;
}

.blue-button {
  background-color: blue;
  width: 100px;
}

.container {
  background-color: white;
  border: 1px solid black;
  height: 400px;
  position: relative;
  width: 400px;
}

.green-button {
  background-color: green;
  width: 100px;
}

.miniature-memes {
  height: 100px;
  width: 100px;
}

.red-button {
  background-color: red;
  width: 100px;
}

div img {
  height: 400px;
  position: absolute;
  width: 400px;
}

div p {
  bottom: 0;
  color: white;
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  width: 100%;
  word-wrap: break-word;
}

.custom-border {  
  align-content: center;
  display: inline-block;
  width: 100%;
}

section button {
  border-radius: 30%;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.image-gallery {
  border: 2px solid brown;
  margin-top: 20px;
  width: 420px;
}
